<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klutch.android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/KlutchTheme" >
        <activity
            android:name="com.klutch.android.KlutchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/KlutchTheme.NoActionBar"
            android:name="com.klutch.android.HowToActivity" />
        <activity
            android:theme="@style/KlutchTheme.NoActionBar"
            android:name="com.klutch.android.LoginActivity"/>

    </application>

</manifest>
